*{
    margin:0;
    padding:0;
}
body{
   display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: #f4e4ba;
}
form{
    margin:2rem 0 2rem 0;
}
.container{
    padding: 1rem;
    border-radius: 1rem;
    min-height: 50vh;
    min-width: 50vh;
    background-color:#fff;
}
.amnt{
    margin:1rem 0rem 0.5rem 0;
}
.from{
     margin: 1rem 0 1rem 0;
     width: 20vh; 
}
.to{
    margin: 1rem 0 1rem 0;
    width: 20vh;
}
select,input,button{
   width:100%;
   border-radius:1rem;
   outline: none;
   border: none;
}
input{
    border:1px solid rgb(215, 139, 152);
    font-size: 1rem;
    height:2.5rem;
}
.slt{
     display: flex;
     margin: 1rem 0;
     border: 1px solid lightgray;
     border-radius: 0.5rem;
     width: 7rem;
     justify-content: center;
}
.good{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.good i{
    font-size: 1.5rem;
}
.good img{
    max-width: 2rem;
}
button{
    height: 2rem;
    background-color: #af4d98;
    color: #fff;
    margin: 1rem 0 0 0;
    font-size: 1rem;
    cursor: pointer;
}
.slt select{
    font-size: 1rem;
    width: auto;
}